@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: Helvetica Neue, Inter, Apple System, System Ui, Helvetica, Arial,
    Sans Serif;
}
body {
  background-color: #031114;
}
.todoList {
  border: 0.2rem solid grey;
  border-top: 1rem solid grey;
  border-radius: 5px;
  width: 35%;
  overflow: auto;
  height: min-content;
  /* height: 600px; */
  /* align-content: center; */
  background-color: #e9f5f7;
  margin: 1rem;
  position: absolute;
}
.App {
  display: flex;
  flex-flow: row;
  overflow-x: auto;
  height: 100vh;
}
.submit-btn {
  position: absolute;
  width: 15%;
  height: 10%;
  background: lightsteelblue;
  left: 40%;
  bottom: 1%;
}
