@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: Helvetica Neue, Inter, Apple System, System Ui, Helvetica, Arial,
    Sans Serif;
}
body {
  background-color: #031114;
}
.App {
  position: absolute;
  left: 25%;
  right: 40%;
  top: 10%;
  bottom: 50%;
  border: 0.2rem solid grey;
  border-top: 0.75rem solid grey;
  border-radius: 5px;
  width: 30%;
  height: 80%;
  overflow: auto;
  align-content: center;
  background-color: #e9f5f7;
}

.submit-btn {
  position: absolute;
  width: 15%;
  height: 10%;
  background: lightsteelblue;
  left: 40%;
  bottom: 1%;
}
